:root {
    --primary-color: white;
    --secondary-color: white;
    --tertiary-color: black;
    --primary-background: #0101a0cb;
    --secondary-background: #3ff2f8;
    --tertiary-background: #ffffff;
    font-family: Montserrat, sans-serif;
    font-size: 16px;
    line-height: 1.5em;
}

* {
    box-sizing: border-box;
}

body {
    height: 100vh;
    background-color: var(--secondary-background);
    margin: 0;
    padding: 0;
    background: var(--tertiary-background);
    display: flex;
    flex-direction: column;
}

li, a {
    text-decoration: none;
}

header#cabecalho-principal {
    background: var(--primary-background);
    color: var(--primary-color);
    height: 80px;
    display: grid;
}

// .logo {
//     height: 70px;
//     width: 70px;
//     margin-left: 10px;
//     border: 10px;
//     align-self: center;
// }

.nome-do-site {
    justify-self: center;
    align-self: center;
}

nav#navegacao-principal {
    background: var(--primary-background);
    color: var(--primary-color);
    display: flex;
    justify-content: center;
    grid-area: nav;
}

nav#navegacao-principal div{
    width: 100%;
}

nav#navegacao-principal ul {
    flex-grow: 1;
    flex-basis: 200px;
    color: var(--secondary-color);
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin: 0;
    padding: 0;
}

label {
    margin: 0 40px 0 0;
    font-size: 26px;
    line-height: 70px;
    display: none;
    width: 26px;
    float: right;
}
#toggle {
    display: none;
}


@media only screen and (max-width: 500px) {
    label {
        display: block;
        cursor: pointer;
        position: relative;
        align-items: center;
        margin: 0px;
    }
    .menu {
        text-align: center;
        width: 100%;
        display: none;
    }
    .menu a {
        display: block;
        border-bottom: 1px solid #EAEAEB;
        margin: 0;
     
    }

    nav#navegacao-principal ul {
        flex-grow: 1;
        flex-basis: 200px;
        color: var(--secondary-color);
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        margin: 0;
        padding: 0;
    }

    #toggle:checked + .menu {
        display: block;
    }
    
    
}

nav#navegacao-principal li {
    list-style: none;
    color: var(--secondary-color);
    padding: 10px;
}

nav#navegacao-principal li a{
    color: var(--secondary-color);
}

main {
    flex: 1;
    margin: 20px 30px;
    font-size: 1em;
}

main#home {
    background-color: var(--tertiary-background);
    // width: calc(100vh - 60px);
    margin: 20px 30px;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    // grid-template-rows: repeat(auto-fit, minmax(200px, 1fr));
    // grid-template-columns: repeat(2, 1fr);
    // grid-template-areas: "intro recentes"
    //                      "news camps"
    //                      "aside aside";
    // justify-content: center;
}

main#home>* {
    margin: 5px;
    padding: 10px;
    border: 10px solid var(--primary-background);
    // max-width: 400px;
    // justify-self: center;
}

// .intro {
//     grid-area: intro;
// }

// .news {
//     grid-area: news;
// }

// .camps {
//     grid-area: camps;
// }

// .recentes {
//     grid-area: recentes;
// }

.recentes ul {
    padding-left: 20px;
}

// aside#aside-home {
//     grid-area: aside;
//     margin: 5px 5px 0px 5px;
//     justify-self: center;
//     padding: 10px;
//     border: 10px solid var(--primary-background);
// }

footer#footer-default {
    height: 22px;
    font-size: 10px;
    color: var(--secondary-color);
    background-color: var(--primary-background);
    display: flex;
    justify-content: center;
}

footer p {
    height: 18px;
    margin: 0px;
}