<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ page.title }}</title>
    <link rel="stylesheet" href="{{ '/assets/css/styles.css' | relative_url }}">
</head>
<body>
    <header id="cabecalho-principal">
        <h1 class="nome-do-site">
            Lebinhas Games!
        </h1>
    </header>
    <nav id="navegacao-principal">
        <label for="toggle">&#9776;</label>
        <input type="checkbox" id="toggle"/>
        <div class="menu">
            <ul>
                <li><a href="{{ '/index' | relative_url }}">Home</a></li>
                <li><a href="{{ '/novidades' | relative_url }}">Novidades</a></li>
                <li><a href="{{ '/campeonatos' | relative_url }}">Campeonatos</a></li>
                <li><a href="{{ '/sobre' | relative_url }}">Sobre</a></li>
            </ul>
        </div>
    </nav>
    {{ content }}
    <footer id="footer-default">
        @Copyright 2020
    </footer>
</body>
</html>