---
layout: default
---

<main>
    <section>
        <h2>Sobre nós</h2>
        <p>O Lebinhas Games! é um blog criado de fã para fã.
            Nosso objetivo é criar uma comunidade de games engajada
            e informada. Para isso, buscamos disponilizar o melhor
            dos conteúdos e tudo que nossos leitores procuram.
        </p>
        <p>Se você acredita que possamos melhorar nosso conteúdo
            entre em contato com a gente! Mande no nosso email suas
            dicas, críticas e sugestões para podermos melhorar
            ainda mais.
        </p>
    </section>
    <section>
        <h2>Contatos</h2>
        <ul>
            <li>Email: lebinhas.games@contato.com</li>
            <li>Twitter: @Lebinhas_Games</li>
        </ul>
    </section>
</main>